# Core dependencies
numpy==2.2.2
pandas==2.2.3
scipy==1.15.1
scikit-learn==1.6.1
mlxtend==0.23.4
dask[dataframe]
dask-expr
tqdm==4.67.1

# Visualization
matplotlib==3.10.0
seaborn==0.13.2

# Data fetching and API dependencies
requests==2.32.3
urllib3==2.3.0
kagglehub==0.3.7

# Miscellaneous utilities
joblib==1.4.2
threadpoolctl==3.5.0

# Encoding and parsing
python-dateutil==2.9.0.post0
pytz==2025.1
tzdata==2025.1

# Multiprocessing (Standard library, but mentioning for clarity)
